<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each courses}}
                <tr>
                    <td><a href="/course/{{this.courseId}}">{{this.courseCode}}</a></td>
                    <td>{{this.courseDescription}}</td>
                    <td>
                        <a href="/course/delete/{{this.courseId}}" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
    </div>
</div>
